{% extends 'base.html.twig' %}

{% block body %}
    <p>Hola,</p>
    <br>
    <p>Te adjunto la prueba técnica de LaLiga. El tiempo de entrega es de 4
    horas pero si tardas más no pasa nada, lo importante es que la entregues lo mejor posible</p>
    <br>
    <p>Suerte y un saludo,</p>
    <br>
    <p>José Labrador</p>
    {#<p>Hola,</p>#}
    {#<br>#}
    {#<p>Te adjunto la segunda prueba técnica de LaLiga. El tiempo de entrega es de 2 a 3 horas pero si tardas más no pasa nada, lo importante es que la entregues lo mejor posible</p>#}
    {#<br>#}
    {#<p>Es muy importante que el repositorio no sea público</p>#}
    {#<br>#}
    {#<p>Suerte y un saludo,</p>#}
    {#<br>#}
    {#<p>José Labrador</p>#}
{% endblock %}
